/*обнлуение стилей*/
* {
	padding: 0px;
	margin: 0px;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #FFFFFF;

}

*,
*::before,
*::after {
	box-sizing: border-box;
	}


a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

td,tr{
	margin: 0;
	padding: 0;
}

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}



input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

.section__one{
	background: center no-repeat url('img/background_ps.png');
	max-width: 100%;
	height: 892px;
}

.section__inner{
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;

}
.logo{
	width: 100%;
	text-align: center;
}
.img__logo{

  margin-top: -30px;


}

.img__boxes{
	margin-left: auto;
	margin-right: auto;
	margin-top: -80px;
}
.main__tittle{
	margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 42px;
	line-height: 49.22px;
	text-transform: uppercase;
}
.section__description{
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	font-size: 20px;
	line-height: 23.24px;
}
.section__two{
	background: center no-repeat url('img/background2_ps.png');
	max-width: 100%;
	height: 1024px;
	display: flex;

}
.sectiontwo__inner{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.vito{
	width: 441px;
	height: 891px;
	margin-left: 18.6979%;
}
.section__table{
	display: flex;
	flex-direction: column;
	margin-top: 49px;
	margin-left: 159px;
empty-cells: hide;
}
.sectiontwo__tittle{
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 35.16px;
	color: #416DF4;
}

.servers{
	display: flex;
	flex-direction: row;
	margin-top: 39px;
	margin-bottom: 10px;
}

.server{
	width: 140px;
	height: 23px;
	text-align: center;
	padding-top: 4px;
	font-size: 12px;
	line-height: 14.06px;
	color: #671D00;
	border:1px solid #671D007A;
}

.server--free{
	width: 140px;
	margin-right: 10px;
	margin-left: 342px;
}
tr{
	height: 74px;
	border:1px solid #671D007A;
	border-radius: 1px;
	background-color: #0000008C;

	
}

td{
	font-size: 16px;
	line-height: 18.75px;
}
.ico__img{
	width: 64px;
	height: 64px;
}
.table__kit{
	width: 632px;
	border-collapse: collapse;
}

.td__ico{
	padding-left: 6px;
	width: 70px;
}

.td__tittle{
	padding-left: 20px;
	margin-right: 110px;
	width: 200px;
}

.td__free{
	padding-left: 90px;
	padding-right: 30px;
	text-align: center;
}

.sub{
	padding-right: 20px;
	text-align: center;
}
.box__buy{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}
.buy{
	display: flex;
	flex-direction: column;
	margin-top: 155px;
	margin-left: -140px;
}

.box__price{
	font-size: 50px;
	line-height: 58.59px;
	margin-bottom: 10px;
}

.buy__button{
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18.75px;
	color: #000000;
	background-color: #FCFF00;
	border-radius: 7px;
	padding: 12px 30px;
	opacity: 85%;
}

.buy__button:hover{
	opacity: 100%;
}

@media (max-width: 1550px){
	.vito{
	width: 441px;
	height: 891px;
	margin-left: 100px;
}

}

@media (max-width: 1350px){
	.section__two{
	background: center repeat-y url('img/background wall.png');
	max-width: 100%;
	height: 2048px;
	display: flex;

	}	
	.sectiontwo__inner{
		display: flex;
		flex-direction: column;
	}
 .vito{
 	margin-left: auto;
 	margin-right: auto;
 }


 .section__table{
 	margin-left: auto;
 	margin-right: auto;

 }
}